<mat-toolbar class="fc-tool-bar" color="primary" *ngIf="authenticationService.token && !isResourceViewer">
  <figure class="logo">
    <img src="../../../../assets/images/logo.png" alt="logo" />
  </figure>
  <button mat-icon-button class="menu-button" type="button" aria-label="Toggle sidenav" (click)="drawer.toggle()">
    <i class="material-icons">menu</i>
  </button>
  <figure class="mob-logo">
    <img src="../../../../assets/images/logo.png" alt="logo" />
  </figure>
  <span class="example-spacer" *ngIf="!(isSmallDevice$ | async)"></span>
  <span>
    <span [matMenuTriggerFor]="menu" class="profile-menu" *ngIf="authenticationService.token">
      <mat-icon>account_circle</mat-icon>
      <span>{{ username }}</span>
    </span>
    <mat-menu #menu="matMenu">
      <span *ngFor="let theme of themes">
        <button mat-menu-item (click)="changeTheme(theme, true)">{{ theme }}</button>
      </span>
      <button mat-menu-item routerLink="/update-password">
        <mat-icon class="menu-item">vpn_key</mat-icon>
        &nbsp; Update Password
      </button>
      <button mat-menu-item routerLink="/update-profile">
        <mat-icon class="menu-item">person</mat-icon>
        &nbsp; Update Profile
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon color="warn" class="menu-item">power_settings_new</mat-icon>
        &nbsp; Logout
      </button>
    </mat-menu>
  </span>
</mat-toolbar>
<mat-sidenav-container
  [ngClass]="{ 'sidenav-container': authenticationService.token, 'full-page': !authenticationService.token }"
>
  <mat-sidenav
    *ngIf="authenticationService.token"
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isSmallDevice$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isSmallDevice$ | async) ? 'over' : 'side'"
    [opened]="!(isSmallDevice$ | async)"
  >
    <mat-nav-list class="nav-list">
      <a mat-list-item class="sidenav-list-item" routerLink="/dashboard"
        ><i class="material-icons">home</i> &nbsp;{{ 'MainNav.Home' | translate }}</a
      >

      <mat-expansion-panel class="expansion-panel">
        <mat-expansion-panel-header class="subnav-header">
          <i class="material-icons"> g_translate </i> &nbsp;{{ 'MainNav.Language' | translate }}
        </mat-expansion-panel-header>

        <mat-nav-list class="subnav">
          <mat-radio-group class="radio-group" [(ngModel)]="selectedLanguage">
            <mat-radio-button
              class="radio-button"
              *ngFor="let lang of translate.getLangs()"
              (click)="switchLanguage(lang)"
              [value]="lang"
            >
              {{ lang | translate }}
            </mat-radio-button>
          </mat-radio-group>
        </mat-nav-list>
      </mat-expansion-panel>

      <mat-expansion-panel class="expansion-panel">
        <mat-expansion-panel-header class="subnav-header">
          <i class="material-icons"> dvr </i> &nbsp;{{ 'MainNav.Entities' | translate }}
        </mat-expansion-panel-header>

        <mat-nav-list class="subnav">
          <ng-container *ngFor="let entity of entityList">
            <a *ngIf="permissions[entity]" mat-list-item class="mat-sub-list-item" [routerLink]="[entity]">
              {{ entity }}
            </a>
          </ng-container>
        </mat-nav-list>
      </mat-expansion-panel>

      <mat-expansion-panel class="expansion-panel" *ngIf="permissions['showTools']">
        <mat-expansion-panel-header class="subnav-header">
          <i class="material-icons"> build </i> &nbsp;{{ 'MainNav.Tools' | translate }}
        </mat-expansion-panel-header>

        <mat-nav-list class="subnav">
          <mat-expansion-panel class="expansion-panel" *ngIf="permissions['showReport']">
            <mat-expansion-panel-header class="subnav-header">
              &nbsp;{{ 'MainNav.AdhocReports' | translate }}
            </mat-expansion-panel-header>

            <mat-nav-list class="subnav">
              <a mat-list-item class="sidenav-sub-list-item" [routerLink]="'/reporting/schema'"> Generate Schema </a>
              <a mat-list-item class="sidenav-sub-list-item" [routerLink]="'/reporting/myreports'"> My Reports </a>
              <a mat-list-item class="sidenav-sub-list-item" [routerLink]="'/reporting/dashboard'"> My Dashboard </a>
            </mat-nav-list>
          </mat-expansion-panel>
          <mat-expansion-panel class="expansion-panel" *ngIf="permissions['showScheduler']">
            <mat-expansion-panel-header class="subnav-header">
              {{ 'MainNav.JobScheduling.Title' | translate }}
            </mat-expansion-panel-header>

            <mat-nav-list class="subnav">
              <a mat-list-item class="mat-sub-list-item" routerLink="scheduler/jobs" *ngIf="permissions['jobdetails']"
                >{{ 'MainNav.JobScheduling.Jobs' | translate }}
              </a>
              <a
                mat-list-item
                class="mat-sub-list-item"
                routerLink="scheduler/executingJobs"
                *ngIf="permissions['jobdetails']"
                >{{ 'MainNav.JobScheduling.ExecutingJobs' | translate }}
              </a>
              <a
                mat-list-item
                class="mat-sub-list-item"
                routerLink="scheduler/triggers"
                *ngIf="permissions['triggerdetails']"
                >{{ 'MainNav.JobScheduling.Triggers' | translate }}
              </a>
              <a
                mat-list-item
                class="mat-sub-list-item"
                routerLink="scheduler/executionHistory"
                *ngIf="permissions['jobdetails']"
                >{{ 'MainNav.JobScheduling.ExecutionHistory' | translate }}
              </a>
            </mat-nav-list>
          </mat-expansion-panel>
        </mat-nav-list>
      </mat-expansion-panel>

      <mat-expansion-panel class="expansion-panel">
        <mat-expansion-panel-header class="subnav-header">
          <i class="material-icons"> account_box </i> &nbsp;{{ 'MainNav.Administration' | translate }}
        </mat-expansion-panel-header>

        <mat-expansion-panel class="expansion-panel">
          <mat-expansion-panel-header class="subnav-header">
            {{ 'MainNav.AccessMgmt' | translate }}
          </mat-expansion-panel-header>

          <mat-nav-list class="subnav">
            <ng-container *ngFor="let entity of authEntityList">
              <a *ngIf="permissions[entity]" mat-list-item class="mat-sub-list-item" [routerLink]="[entity]">
                {{ entity }}
              </a>
            </ng-container>
          </mat-nav-list>
        </mat-expansion-panel>
        <a mat-list-item class="sidenav-list-item" routerLink="entityHistory" *ngIf="permissions['ENTITYHISTORY']"
          >{{ 'MainNav.EntityHistory' | translate }}
        </a>
      </mat-expansion-panel>
      <a mat-list-item class="sidenav-list-item" routerLink="swagger-ui">
        <i class="material-icons"> settings </i> &nbsp;{{ 'MainNav.API' | translate }}</a
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content #navContent class="fc-sidenav-content">
    <!-- main content container start  -->
    <router-outlet></router-outlet>
    <!-- main content container Ends -->
  </mat-sidenav-content>
</mat-sidenav-container>
