<section class="spinner-container" *ngIf="loading" style="z-index: 99999999">
  <mat-spinner></mat-spinner>
</section>

<div class="login-container">
  <mat-card class="item-card">
    <mat-card-title class="text-center">
      <figure class="logo">
        <img src="../../assets/images/logo.png" alt="logo" style="border-radius: 46px" />
      </figure>
    </mat-card-title>
    <mat-card-content>
      <div
        [ngClass]="{ 'text-center': true, 'not-confirmed-text-color': !confirmed, 'confirmed-text-color': confirmed }"
      >
        <mat-icon *ngIf="confirmed" class="confirm-icon">check_circle_outline</mat-icon>
        <h2 *ngIf="confirmed" class="sub-title">{{ 'ACCOUNT.CONFIRM-EMAIL.CONFIRMED-HEADING' | translate }}</h2>

        <mat-icon *ngIf="!confirmed" class="confirm-icon">error_outline</mat-icon>
        <h2 *ngIf="!confirmed" class="sub-title">{{ 'ACCOUNT.CONFIRM-EMAIL.NOT-CONFIRMED-HEADING' | translate }}</h2>
      </div>

      <div class="text-center message" *ngIf="confirmed">
        <p>{{ 'ACCOUNT.CONFIRM-EMAIL.CONFIRMED-MESSAGE' | translate }}</p>
      </div>
      <div class="text-center message" *ngIf="!confirmed">
        <p>{{ 'ACCOUNT.CONFIRM-EMAIL.NOT-CONFIRMED-MESSAGE' | translate }}</p>
      </div>
      <button routerLink="/login" mat-raised-button color="primary" class="btn-submit">
        {{ 'LOGIN.LOGIN' | translate }}
      </button>
    </mat-card-content>
  </mat-card>
</div>
