<div class="list-container" (onScroll)="onTableScroll()" appVirtualScroll>
  <div class="top-breadcrumb">
    <h1 class="template-title">{{ 'JOBS.TITLE' | translate }}</h1>
    <div class="fc-row">
      <div class="fc-col-sm-6">
        <ul class="breadcrumb">
          <li>
            <a [routerLink]="['/dashboard']"><i class="material-icons"> home </i> &nbsp;Dashboard</a>
          </li>
          <li><a>Job List</a></li>
        </ul>
      </div>
      <div class="fc-col-sm-6 fc-text-right">
        <button mat-raised-button color="primary" (click)="add()">
          <i class="material-icons"> add_circle_outline </i> &nbsp;Add Job
        </button>
      </div>
    </div>
  </div>
  <mat-card>
    <app-list-filters [columnsList]="columns" (onSearch)="applyFilter($event)"></app-list-filters>

    <div class="table-container">
      <mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="jobName">
          <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'JOBS.FIELDS.NAME' | translate }} </mat-header-cell>>
          <mat-cell *matCellDef="let job">{{ job.jobName | titlecase }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="jobGroup">
          <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'JOBS.FIELDS.GROUP' | translate }} </mat-header-cell>
          <mat-cell *matCellDef="let job"> {{ job.jobGroup | titlecase }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="jobClass">
          <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'JOBS.FIELDS.CLASS' | translate }} </mat-header-cell>
          <mat-cell *matCellDef="let job"> {{ job.jobClass }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef> {{ 'SCHEDULER-GENERAL.ACTIONS.ACTIONS' | translate }}</mat-header-cell>
          <mat-cell *matCellDef="let job; let i = index">
            <button
              mat-icon-button
              aria-label="Example icon-button with a heart icon text-dangger"
              matTooltip="Edit"
              routerLink="/scheduler/jobs/{{ job.jobName }}/{{ job.jobGroup }}"
            >
              <mat-icon>open_in_new</mat-icon>
            </button>
            <button
              mat-icon-button
              color="accent"
              *ngIf="job.jobStatus != 'PAUSED'"
              title="{{ 'SCHEDULER-GENERAL.ACTIONS.PAUSE' | translate }}"
              (click)="pauseJob(job, i)"
            >
              <mat-icon color="primary">pause_circle_filled</mat-icon>
            </button>
            <button
              mat-icon-button
              color="accent"
              *ngIf="job.jobStatus == 'PAUSED'"
              title="{{ 'SCHEDULER-GENERAL.ACTIONS.RESUME' | translate }}"
              (click)="resumeJob(job, i)"
            >
              <mat-icon color="primary">play_circle_filled</mat-icon>
            </button>
            <button
              mat-icon-button
              color="accent"
              title="{{ 'SCHEDULER-GENERAL.ACTIONS.DELETE' | translate }}"
              (click)="deleteJob(job, i)"
            >
              <mat-icon color="warn">delete</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
    </div>
    <section class="small-spinner-container" *ngIf="isLoadingResults">
      <mat-spinner></mat-spinner>
    </section>
  </mat-card>
</div>
