@import 'src/styles/base.scss';

.full-width {
  width: 100%;
}

[hidden] {
  display: none;
}

.container {
  margin: $fc-margin3;
}

.mat-table {
  overflow: auto;
  max-height: calc(100% - 135px);
  min-width: 700px;
}

@media (max-width: 580px) {
  .mat-header-cell {
    font-size: 14px !important;
  }
}
